*.apk
*.aab
*.ipa
*.app
build/
out/
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
xcuserdata/
android/app/build/
android/.gradle/
android/*.iml
android/app/src/debug/*
android/app/src/profile/*
android/app/src/release/*
android/captures/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.swp
.vscode/
.metadata
*.log
.history
*.class
*.pyc
*.log
linux/
windows/
macos/
web/
CMakeLists.txt
utils.cpp
